<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b27e9780-c619-45b8-a6ce-7093601562dc/resourcegroups/MyFunctionMohit/providers/Microsoft.Web/sites/ProductReviews20170508010353</ResourceId>
    <ResourceGroup>MyFunctionMohit</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://productreviews20170508010353.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>productreviews20170508010353.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProductReviews20170508010353</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ProductReviews20170508010353</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProductReviewsContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:productreviews20170508010353dbserver.database.windows.net,1433;Initial Catalog=ProductReviews20170508010353_db;User ID=Admin123@productreviews20170508010353dbserver;Password=S@2356ss" Name="Data Source=tcp:productreviews20170508010353dbserver.database.windows.net,1433;Initial Catalog=ProductReviews20170508010353_db;User Id=Admin123@productreviews20170508010353dbserver;Password=S@2356ss" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProductReviews.Models.ProductReviewsContext, ProductReviews" MigrationConfiguration="ProductReviews.Migrations.Configuration, ProductReviews" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProductReviewsContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:productreviews20170508010353dbserver.database.windows.net,1433;Initial Catalog=ProductReviews20170508010353_db;User Id=Admin123@productreviews20170508010353dbserver;Password=S@2356ss</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>